body{
    /*background-color: rgba(0,0,255,0.82);*/
    background-size: 100%;
    color: white;
}
video #bgvid { 
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
    z-index: 2;
}
.filler{
    height: 170px;
}
.small-filler{
    height: 30px;
}
.blue{
    /*background: rgba(0,0,255,0.82);*/
    width: 100%;
    height: 100%;
    z-index: 2;
}
.navoption{
    padding: 10px;
    margin: 0px;
}
.about{
    display: inline;
}
.login{
    display: inline;
}
.signup{
    display: inline;
}
.navoption:hover{
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}
.big-title{
    padding-top: 50px;
}
