<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/landingstyles.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <meta charset="UTF-8">
    <title>Serve</title>
</head>
<body>
    <div class="container full">
        <div class="row blue">
            <center><h1>Serve</h1></center>
            &nbsp;
        </div>
    
        <div class="col-md-4 col-md-offset-2">
            <center><h2>Need More?</h2></center>
            <p>We understand that sometimes, 5 functions just isn't enough.  For those of you who need more than the minimum, whether because you're driven creators or indecisive codeholics, we offer additional functions at the grat price of just $2 per 5 functions per month.
            <p>That means that for just $2, you can use 10 functions a month, all month long, or for $10, you can spend your time toying around with any of the 30 functions you now control.  Its as easy as clicking <a href="{{url_for('payment', userId=userId)}}">here</a> and signing in with Venmo.
            Good luck and Happy Hacking.
        </div>
    </div>
</body>
</html>
