<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Serve</title>
</head>
<body>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <center><h2>Your active apps</h2></center>
            <table class="table">
            <th>Name</th><th>Dashbaord</th><th>Live</th>
            {% for app in apps %}
                <tr>
                    <td>{{app['name']}}</td>
                    <td><a href="{{app['dash']}}"><i class="fa fa-cog"></i></a></td>
                    <td><a href="{{app['url']}}">{{app['url']}}</a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>
