<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/landingstyles.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <meta charset="UTF-8">
    <title>Serve</title>
</head>
<body>
    <div class="container full">
        <div class="row blue">
            <center><h1>Serve</h1></center>
            &nbsp;
        </div>
        <div class="col-md-6 col-md-offset-3 gallery">
            <center><h2>Your active apps</h2>
            <center><table class="gallery">
            <th>Name</th><th>Language</th><th>Functions</th><th>Dashboard</th>
            {% for app in apps %}
                <tr>
                    <td>{{app['name']}}</td>
                    <td>{{app['language']}}</td>
                    <td>{{app['numberFunc']}}</td>
                    <td><a class="link" href="/dash/{{app['id']}}"><i class="fa fa-cog"> Edit settings</i></a></td>
                </tr>
            {% endfor %}
            <tr><td style="background-color:#ecf0f1"></td><td colspan="2"><a href="#" class="link large gallery" onclick="new_app()">+</a></td><td></td></tr>
            <script type="text/javascript">
                function new_app() {
                    $.ajax({
                        type: "POST",
                        url: "{{url_for('newApp')}}",
                        data: {userid: "{{userid}}", name: "new_function"},
                        success: location.reload()
                    })
                }
            </script>
            </table></center>
        </div>
    </div>
</body>
</html>
