<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <meta charset="UTF-8">
    <title>Serve</title>
</head>
<body>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            This is where your apps would go, IF YOU HAD ANY!
            <div class="app-highlight">
                This is an example app-div thing.
                <a href="/app/123idnumber">This would link to the app</a>
            </div>
        </div>
    </div>
</body>
</html>
