<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<div id="outer">	
		<header>
			<h1>Serve</h1>
			<h2>Wtf is a server? Who cares.</h2>
		</header>
	</div>
	<div class='fullscreen'></div>
	<video autoplay loop poster="{{url_for('static', filename='images/header.jpg')}}" id="bgvid">	
		<source src="{{url_for('static', filename='images/slowmo2.mov')}}" type="video/mp4">
	</video>
	
</body>
</html>