<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/landingstyles.css')}}">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/landingscripts.js')}}"></script>
    <meta charset="UTF-8">
    <title>Serve</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <h1>Serve</h1>
            </div>
            <div class="col-md-7 col-sm-4 col-xs-3"></div>
            <div class="col-md-1 col-sm-2 col-xs-2">
                <div class="navoption about"><h5>About</h5></div>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-2">
                <div class="navoption login"><h5>Login</h5></div>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-3">
                <div class="navoption signup"><h5>Sign up</h5></div>
            </div>
        </div>
        <div class="row filler">
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>What is a server? Who cares?</h4>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>You worry about your cool idea. We'll worry about your backend.</h3>
            </div>
       </div>
	<div class='fullscreen'></div>
	<video autoplay loop poster="{{url_for('static', filename='images/header.jpg')}}" id="bgvid">	
		<source src="{{url_for('static', filename='images/slowmo2.mov')}}" type="video/mp4">
	</video>
	
</body>
</html>
